APP_TIMEZONE=Asia/Jakarta

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_tahsinbpk
DB_USERNAME=tahsinbpk
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_SAVE_PATH=/var/www/html/.sessions
N8N_API_KEY=ubah_dengan_secret_yang_panjang
